#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Create/update srctab associations
DefaultDependencies=no
Conflicts=shutdown.target
Before=framerd.service
Requires=network.target local-fs.target


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/upsource /etc/srctab

[Install]
WantedBy=multi-user.target
